/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

:root {
  --seperator: #444;
  --nav-bar: #fd9898;
  --btn-clr: #f7c7c7c6;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 2em;
  width: 100%;
  display: grid;
  row-gap: 16px;
  grid-template-areas:
    "logo . acc-nav"
    "src-bar src-bar src-bar"
    "main-nav main-nav main-nav";
}

.wrap {
  word-break: keep-all;
}

.grid-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  grid-area: logo;
  display: grid;
  padding-left: 1em;
}

.logo > img {
  width: 200px;
  height: 48px;
  object-fit: contain;
}

.acc-nav {
  padding-right: 1em;
  grid-area: acc-nav;
  display: grid;
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  gap: 10px;
  place-items: center;
}

.acc-nav-name {
  display: none;
}

.acc-nav .container:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  height: 80%;
  border-right: 1px solid var(--seperator);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.container {
  min-width: 16px;
  min-height: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.container>div {
  place-self: center;
}

.help {
  display: none;
  grid-area: help;
}

.searchbar {
  grid-area: src-bar;
  min-height: 16px;
}

.searchbar .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 8fr) 1fr;
}

.searchbar input {
  height: 2rem;
  padding: 6px 4px 6px 18px;
  border: 2px solid var(--nav-bar);
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.searchbtn {
  display: grid;
  place-items: center;
  padding: 0 18px;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  min-width: 24px;
  min-height: 24px;
  border: 2px solid var(--nav-bar);
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--btn-clr);
}

.main-nav {
  grid-area: main-nav;
}

.nav-bar {
  width: 90%;
  place-self: center;
}

.menu {
  height: 2em;
  display: grid;
  align-items: center;
  padding: 8px 36px;
  background-color: var(--nav-bar);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.nav-menu {
  margin-top: 3rem;
  width: 85vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  z-index: 10;
}

.nav-menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  background-color: var(--nav-bar);
  overflow: hidden;
}

.menu-btn-container {
  justify-self: end;
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.menu-btn::before {
  content: "";
  margin-top: -8px;
}

.menu-btn::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked+.menu-btn-container .menu-btn::before {
  margin-top: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

#menu-toggle:checked+.menu-btn-container .menu-btn {
  background-color: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-btn-container .menu-btn::after {
  margin-top: 0;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

#menu-toggle ~ .nav-menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

#menu-toggle:checked ~ .nav-menu li {
  border-top: 1px solid var(--seperator);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

.nav-dropdown {
  position: relative;
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.nav-dropdown .dropdown-child,
.nav-dropdown .dropdown-child-child {
  display: none;
}

@media screen and (min-width:768px) {
  .menu-btn-container {
    display: none;
  }

  .menu {
    grid-template-columns: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
  }

  #nav-menu {
    display: grid;
    position: relative;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    margin-top: 0;
    left: 0;
    width: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
  }

  #nav-menu li {
    height: 2em !important;
  }

  #nav-menu li:not(:last-child) {
    border-right: 2px solid var(--seperator);
  }
}