/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* root css */

html {
    height: 100%;
}

body {
    height: 100%;
}

:root {
    --seperator: #333;
    --lighter-base: #fcc;
    --light-base: #faa;
    --base-color: #f99;
    --dark-base: #f77;
    --darker-base: #f55;
    --accent1-color: #fdf;
    --accent2-color: #dfd;
    --complementary: #dff;
    --pure-black: #000;
    --dark-grey: #777;
    --med-grey: #999;
    --light-grey: #bbb;
    --pure-white: #fff;
}

.wrapper {
    min-height: 100%;
    /* display: grid;
    grid-template-rows: 1fr auto; */
}

.wrap {
    word-break: keep-all;
}

.grid-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* header css */

header {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 2em;
    width: 100%;
    height: 200px;
    display: grid;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "logo acc-nav"
        "src-bar src-bar"
        "main-nav main-nav";
    grid-row: 1/2;
}

.logo {
    grid-area: logo;
    display: grid;
    padding-left: 1em;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.acc-nav {
    padding-right: 1em;
    grid-area: acc-nav;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: end;
    align-items: center;
    grid-template-rows: 1fr;
    gap: 10px;
    place-items: center;
}

.acc-nav-name {
    display: none;
}

.acc-nav .container:not(:first-child) {
    border-left: 1px solid var(--seperator);
}

.container {
    min-width: 16px;
    min-height: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
}

.container > div {
    place-self: center;
}

.help {
    display: none;
    grid-area: help;
}

.searchbar {
    grid-area: src-bar;
    min-height: 16px;
}

.searchbar .container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: minmax(0, 8fr) 1fr;
}

.searchbar input {
    font-size: 16px;
    height: 2rem;
    padding: 6px 4px 6px 18px;
    border: 2px solid var(--base-color);
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.searchbtn {
    display: grid;
    place-items: center;
    padding: 0 18px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    min-width: 24px;
    height: 44px;
    border: 2px solid var(--base-color);
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--accent1-color);
}

.main-nav {
    grid-area: main-nav;
}

.nav-bar {
    width: 90%;
    place-self: center;
}

.menu {
    height: 2em;
    display: grid;
    align-items: center;
    padding: 8px 36px;
    background-color: var(--base-color);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nav-menu {
    margin-top: 3rem;
    width: 85vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    z-index: 10;
}

.nav-menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    background-color: var(--base-color);
    overflow: hidden;
}

.menu-btn-container {
    justify-self: end;
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
    display: block;
    background-color: #000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.menu-btn::before {
    content: "";
    margin-top: -8px;
}

.menu-btn::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-btn-container .menu-btn::before {
    margin-top: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
}

#menu-toggle:checked + .menu-btn-container .menu-btn {
    background-color: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-btn-container .menu-btn::after {
    margin-top: 0;
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
}

#menu-toggle ~ .nav-menu .nav-dropdown {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .nav-menu .nav-dropdown {
    border-top: 1px solid var(--seperator);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-dropdown {
    position: relative;
    text-decoration: none;
    color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.nav-dropdown .dropdown-child,
.nav-dropdown .dropdown-child-child {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        grid-template-columns: 
            minmax(150px, 1fr) 
            minmax(0, 0.5fr) 
            minmax(300px, 2fr);
        grid-template-areas:
            "logo . acc-nav"
            "src-bar src-bar src-bar"
            "main-nav main-nav main-nav";
    }

    .nav-menu > li {
        overflow: unset;
    }

    .menu-btn-container {
        display: none;
    }

    .menu {
        grid-template-columns: unset;
        grid-auto-columns: auto;
        grid-auto-flow: column;
    }

    .dropdown-child {
        background-color: var(--light-base);
        display: none;
        position: absolute;
        top: 2.5em;
        width: inherit;
        z-index: inherit;
    }

    .dropdown-child-child {
        background-color: var(--lighter-base);
        display: none;
        position: absolute;
        top: 0;
        left: 177px;
        width: inherit;
        z-index: inherit;
    }

    .dropdown-content {
        position: relative;
        display: grid;
        place-items: center;
        padding: 1rem;
        min-width: 160px;
        height: 0;
    }

    .dropdown-child::before {
        content: "";
        position: absolute;
        width: 160px;
        height: 4em;
        top: -50px;
    }

    .dropdown-child-child::before {
        content: "";
        position: absolute;
        width: 160px;
        height: 4em;
        right: -80px;
    }

    #nav-menu {
        display: grid;
        position: relative;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        margin-top: 0;
        left: 0;
        width: auto;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }

    #nav-menu > .nav-dropdown {
        height: 2em !important;
    }

    #nav-menu > .nav-dropdown:not(:last-child) {
        border-right: 2px solid var(--seperator);
    }

    #nav-menu .nav-dropdown:hover .dropdown-child {
        display: inline-flex;
        flex-direction: column;
        z-index: 1;
    }

    .nav-dropdown:hover .dropdown-content {
        border-top: 1px solid var(--seperator);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        padding: 0.5em;
    }

    .dropdown-child > li:hover .dropdown-child-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .nav-dropdown:hover .dropdown-content:first-child {
        border-top: none;
    }

    .acc-nav {
        grid-template-columns: repeat(3, minmax(1rem, 150px));
    }

    .acc-nav .container {
        justify-content: flex-end;
    }

    .acc-nav-name {
        display: block;
        position: absolute;
        left: 2rem;
    }

    .menu > .nav-name {
        display: none;
    }
}

/* footer css */

footer {
    padding-top: 2em;
    width: 100%;
    background-color: var(--dark-grey);
    grid-row: 3/4;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}

.footer-title {
    color: var(--pure-white);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-rows: auto;
    gap: 1em;
}

.content-wrapper a {
    color: var(--pure-white);
    text-decoration: none;
}

.content-wrapper a:hover {
    text-decoration: underline;
    
}

.com-logo a {
    object-fit: contain;
}

.com-logo img {
    width: 100%;
    height: 100%;
}

.legal {
    margin: 0 auto;
    display: grid;
}